__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesiss

# Data exclusions
data/sessions/
data/current_session.json
data/user_progress.json
data/kombyphantike_worksheet.csv
data/ai_instruction.txt
.env
