# Python internals
__pycache__/
*.pyc
*.pyo
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Heavy / Copyrighted Data (User must download)
data/dictionaries/
data/raw/
data/sessions/
*.json

# Large binaries
*.whl

!data/processed/kelly.csv
!data/processed/modern_drills.csv
!data/processed/noun_declensions.csv
!data/kombyphantike_worksheet.csv
!data/ai_instruction.txt
!data/dictionaries/knots.csv

# Editor settings
.vscode/
.idea/

# Poetry
poetry.lock

# Keys
#kombyphantike-google-key.json

# private-git add .gitignorestudy
# data/sessions/  <-- Unblocked for private backup
# data/history/   <-- Unblocked
# user_progress.json <-- Unblocked